<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
	<link rel="shortcut icon" href="#{request.contextPath}/resources/imgs/logo-2.png" type="image/x-icon"/>
	<link rel="icon" href="#{request.contextPath}/resources/imgs/logo-2.png"/>
	<meta charset="utf-8" /> 
	<h:outputStylesheet library="bootstrap" name="css/bootstrap.css"  />
	<h:outputStylesheet library="estagio" name="style.css"  />
</ui:composition>
	

</html>
