<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition>
	<div class="container-fluid menu-container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-inverse navbar-fixed-top">
				  <div class="container">
				  	<div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      
				      <h:link outcome="index" class="navbar-brand">
				      	<h:graphicImage value="/resources/imgs/logo-2.png" height="35" width="35" style="margin-top:-8px" />
				      </h:link>
				    </div>
					<!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    	<!-- 
					      <ul class="nav navbar-nav">
					        <li><a href="#">Início <span class="sr-only">(current)</span></a></li>
					      </ul>
				       -->
				       
				       <h:form>
				       
					       <ui:fragment rendered="#{loginBean.pessoa ne null}">
					       		
					       		<ui:fragment rendered="#{loginBean.pessoa.tipo eq 'E'}">
					       			<ul class="nav navbar-nav navbar-left">
								        <li class="dropdown">
								          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tags" style="margin-right:5px;"></i> Ofertas de Estágio <span class="caret"></span></a>
								          <ul class="dropdown-menu">
								            <li><h:link outcome="/empresa/mostrarOfertas" style="margin-right:2px;"><i class="glyphicon glyphicon-tags" ></i> Minhas Ofertas</h:link> </li>
								            <li><h:link outcome="/empresa/cadastrarOferta"><i class="glyphicon glyphicon-plus-sign"></i> Cadastrar Ofertas</h:link></li>
								          </ul>
								        </li>
								        <li class="dropdown">
								          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tags" style="margin-right:5px;"></i> Estágios <span class="caret"></span></a>
								          <ul class="dropdown-menu">
	
								            <li><h:link outcome="/empresa/mostrarEstagios"><i class="glyphicon glyphicon-eye-open"></i> Meus Estágios</h:link></li>
								            
	
								          </ul>
								        </li>
								      </ul>
								      
					       		</ui:fragment>
					       		
					       		<ui:fragment rendered="#{loginBean.pessoa.tipo eq 'A'}">
					       			<ul class="nav navbar-nav navbar-left">
								        <li class="dropdown">
								          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tags" style="margin-right:5px;"></i> Ofertas de Estágio <span class="caret"></span></a>
								          <ul class="dropdown-menu">

								          	<li> <h:commandLink action="#{alunoBean.listarMinhasOfertas}" style="margin-right:2px;"><i class="glyphicon glyphicon-tags" ></i> Minhas inscrições</h:commandLink> </li>
								            
								            <li> <h:commandLink action="#{alunoBean.listarOfertasDisponiveis}" style="margin-right:2px;"><i class="glyphicon glyphicon-eye-open" ></i> Ver ofertas de estágio disponíveis</h:commandLink> </li>

								          </ul>
								        </li>
								      </ul>
					       		</ui:fragment>
					       	
					       		<ui:fragment rendered="#{loginBean.pessoa.tipo eq 'C'}">
					       			<ul class="nav navbar-nav navbar-left">
								        <li class="dropdown">
								          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tower"></i> Empresa <span class="caret"></span></a>
								          <ul class="dropdown-menu">

								        
								            <li><h:link outcome="/coordenador/listarEmpresas"><i class="glyphicon glyphicon-th-list"></i> Mostrar empresas</h:link></li>

								          </ul>
								        </li>
								        <li class="dropdown">
								          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tags" style="margin-right:5px;"></i> Ofertas de estágio <span class="caret"></span></a>
								          <ul class="dropdown-menu">
	

								            <li><h:link outcome="/coordenador/listarOfertasPendentes"><i class="glyphicon glyphicon-eye-open"></i> Ver ofertas pendentes</h:link></li>
								            <li><h:link outcome="/coordenador/listarAlunosSelecionados"><i class="glyphicon glyphicon-eye-open"></i> Ver Alunos selecionados</h:link></li>

	
								          </ul>
								        </li>
								        <li class="dropdown">
								          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-tags" style="margin-right:5px;"></i> Estágios <span class="caret"></span></a>
								          <ul class="dropdown-menu">
	
								            <li><h:link outcome="/coordenador/listarEstagiosPendentes"><i class="glyphicon glyphicon-eye-open"></i> Ver estágios pendentes</h:link></li>
								            <li><h:link outcome="/coordenador/listarEstagiosAtivos"><i class="glyphicon glyphicon-eye-open"></i> Ver estágios ativos</h:link></li>
								            
	
								          </ul>
								        </li>
								      </ul>
					       		</ui:fragment>
					       		
					       		<ul class="nav navbar-nav navbar-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> #{loginBean.pessoa.nome} | #{loginBean.pessoa.tipo} | <span class="caret"></span></a>
								    	<ul class="dropdown-menu">

											

											<li><h:commandLink action="#{loginBean.logout}"><i class="glyphicon glyphicon-remove text-right"></i> Sair do sistema</h:commandLink></li>

										</ul>
									</li>
								</ul>
					       		
					       </ui:fragment>
					       
					       <ui:fragment rendered="#{loginBean.pessoa eq null}">
					       		<ul class="nav navbar-nav navbar-right">
					       			<li><h:link outcome="/login">Login</h:link></li>
							      </ul>
					       </ui:fragment>
				       </h:form>
				      
				    </div><!-- /.navbar-collapse -->
				  </div>
				</nav>
			</div>
		</div>
	</div>
</ui:composition>
	
</html>