<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:head>
		<title><ui:insert name="ttitle">Estágio</ui:insert></title>
		<ui:include src="header.xhtml" />
		
	
		
		<style type="text/css">
			thead{background: #1D976C;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #93F9B9, #2ED499);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #93F9B9, #2ED499); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			color:#fff;
			}
		</style>
	</h:head>
	<h:body>
		<ui:include src="menu.xhtml" />
		
		<div class="container main">
			<div class="row">
				<div class="col-md-12">
					<ui:insert name="tbody">
						O Corpo não foi definido
					</ui:insert>
				</div>
			</div>
		</div>
		
		
		
		<div class="col-md-12">
			<footer></footer>
		</div>
		
		<h:outputScript library="js" name="jquery.min.js" />
		<h:outputScript library="bootstrap" name="js/bootstrap.min.js" />
		<ui:insert name="tscripts" ></ui:insert>
	</h:body>
</html>
