body {
	padding-top:50px;
}

.main {
	min-height: 500px;
}

footer {
	
}
.gb-home{


background: #34e89e; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #34e89e , #0f3443); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #34e89e , #0f3443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

.bg-home-well{
	background-color:rgba(255,255,255,0.7);
	padding: 30px;
	border-radius: 2%;
	
}

tr[data-href] {
	cursor: pointer;
}

ul {
	padding: 0;
}

li.alert {
	list-style-type: none;
}

/* MENU */

