<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<f:metadata>
		<f:event type="preRenderView" listener="#{empresaBean.listarEstagios}"/>
	</f:metadata>
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-tags" style="margin-right: 10px;"></i>Meus Estágios
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<ui:fragment rendered="#{empty empresaBean.estagios}">
						<div class="row">
							<div class="text-center">Nenhum estágio encontrado!</div>
						</div>
					</ui:fragment>
					<h:dataTable value="#{empresaBean.estagios}" var="e" 
								class="table table-striped table-hover"
								headerClass="background-color: #34e89e; color: #fff;"
								rendered="#{not empty empresaBean.estagios}">
					
						<h:column>
							<f:facet name="header"></f:facet>
							<i class="glyphicon glyphicon-menu-right"></i>
						</h:column>
						<h:column>
							<f:facet name="header">Estagiário</f:facet>
							<h:link outcome="/empresa/estagio?id=#{e.id}">#{e.aluno.nome}</h:link>
							
						</h:column>
						<h:column>
							<f:facet name="header">Ativ. Principal</f:facet>
							#{e.atividadePrincipal}
							
						</h:column>
						<h:column>
							<f:facet name="header">CH Semanal</f:facet>
							#{e.chSemanal }
						</h:column>
						<h:column>
							<f:facet name="header">Valor Bolsa</f:facet>
							
							<h:outputText value="#{e.valorBolsa }"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
						</h:column>
						<h:column>
							<f:facet name="header">Status</f:facet>
							
							<ui:fragment rendered="#{e.status.nome eq 'Aguardando aprovação'}">
								<span class="label label-default">#{e.status.nome}</span>
							</ui:fragment>
							<ui:fragment rendered="#{e.status.nome eq 'Ativo' }">
								<span class="label label-success">#{e.status.nome}</span>
							</ui:fragment>
							<ui:fragment rendered="#{e.status.nome eq 'Negado' }">
								<span class="label label-danger">#{e.status.nome}</span>
							</ui:fragment>
							<ui:fragment rendered="#{e.status.nome eq 'Finalizado' }">
								<span class="label label-danger">#{e.status.nome}</span>
							</ui:fragment>
						</h:column>
						
					</h:dataTable>
					
				</div>
			</div>
		</div>
	</ui:define>	
	
</ui:composition>




