<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<f:metadata>
		<f:event type="preRenderView" listener="#{empresaBean.listarOfertas}"/>
	</f:metadata>
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-tags" style="margin-right: 10px;"></i>Minhas
						ofertas
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<ui:fragment rendered="#{empty empresaBean.ofertas}">
						<div class="row">
							<div class="text-center">Nenhuma oferta encontrada!</div>
						</div>
					</ui:fragment>
					<h:dataTable value="#{empresaBean.ofertas}" var="oferta" 
								class="table table-striped table-hover"
								headerClass="background-color: #34e89e; color: #fff;"
								rendered="#{not empty empresaBean.ofertas}">
					
						<h:column>
							<f:facet name="header"></f:facet>
							<h:link outcome="/empresa/oferta?id=#{oferta.id}" styleClass="btn btn-default">
								<i class="glyphicon glyphicon-plus"></i>
							</h:link>
						</h:column>
						<h:column>
							<f:facet name="header">Ativ. Principal</f:facet>
							#{oferta.atividadePrincipal}
							
						</h:column>
						<h:column>
							<f:facet name="header">CH Semanal</f:facet>
							#{oferta.chSemanal }
						</h:column>
						<h:column>
							<f:facet name="header">Valor Bolsa</f:facet>
							<h:outputText value="#{oferta.valorBolsa }"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
							
						</h:column>
						<h:column>
							<f:facet name="header">Status</f:facet>
							
							
							
							<ui:fragment rendered="#{oferta.status.nome eq 'Pendente de aprovacao'}">
								<span class="label label-default">#{oferta.status.nome}</span>
							</ui:fragment>
							<ui:fragment rendered="#{oferta.status.nome eq 'Aprovado' }">
								<span class="label label-success">#{oferta.status.nome}</span>
							</ui:fragment>
							<ui:fragment rendered="#{oferta.status.nome eq 'Finalizado' }">
								<span class="label label-danger">#{oferta.status.nome}</span>
							</ui:fragment>
							<ui:fragment rendered="#{oferta.status.nome eq 'Concluido' }">
								<span class="label label-success">#{oferta.status.nome}</span>
							</ui:fragment>
						</h:column>
						
					</h:dataTable>
					
				</div>
			</div>
		</div>
	</ui:define>	
	
	<ui:define name="tscripts">
		<script>
			$(document).ready(function() {
				$('tr[data-href]').on("click", function() {
					document.location = $(this).data('href');
					console.log("clicado");
				});
			});
		</script>
	</ui:define>
</ui:composition>




