<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<f:metadata>
		<f:viewParam name="id" value="#{empresaBean.id}"/>
		<f:event type="preRenderView" listener="#{empresaBean.selecionarOferta}"/>
	</f:metadata>
	
	<ui:define name="tbody">
		<div class="container main">
			
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-tags" style="margin-right: 5px;"></i>
						Oferta: #{empresaBean.oferta.atividadePrincipal }
					</h3>
					
					<hr />
					<h:link outcome="/empresa/mostrarOfertas" class="btn btn-default btn-sm" style="margin-right: 5px;">
						<i class="glyphicon glyphicon-arrow-left"></i> 
						Voltar
					</h:link>
					<hr />
					<div class="row">
						<h:messages errorClass="alert alert-danger" infoClass="alert alert-success"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-md-12 text-center">
							<ui:fragment rendered="#{empresaBean.oferta.status.nome eq 'Pendente de aprovação'}">
								<h3><span class="label label-default">Status #{empresaBean.oferta.status.nome}</span></h3>
							</ui:fragment>
							<ui:fragment rendered="#{empresaBean.oferta.status.nome eq 'Aprovado' }">
								<h3><span class="label label-success">Status #{empresaBean.oferta.status.nome}</span></h3>
							</ui:fragment>
							<ui:fragment rendered="#{empresaBean.oferta.status.nome eq 'Finalizado' }">
								<h3><span class="label label-danger">Status #{empresaBean.oferta.status.nome}</span></h3>
							</ui:fragment>
							<ui:fragment rendered="#{empresaBean.oferta.status.nome eq 'Concluído' }">
								<h3><span class="label label-success label-lg">Status #{empresaBean.oferta.status.nome}</span></h3>
							</ui:fragment>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<b>Atividade Principal:</b>
						</div>
						<div class="col-md-9">#{empresaBean.oferta.atividadePrincipal }</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Carga Horária Semanal:</b>
						</div>
						<div class="col-md-9">#{empresaBean.oferta.chSemanal }</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Valor Bolsa:</b>
						</div>
						<div class="col-md-9">
						<h:outputText value="#{empresaBean.oferta.valorBolsa }"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Valor Transporte:</b>
						</div>
						<div class="col-md-9">
						<h:outputText value="#{empresaBean.oferta.valorTransporte }"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Valor Alimentação:</b>
						</div>
						<div class="col-md-9">
						<h:outputText value="#{empresaBean.oferta.valorAlimentacao }"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
					</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Pre-Requisitos:</b>
						</div>
						<div class="col-md-9">#{empresaBean.oferta.preRequisitos }</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Habilidades Necessarias:</b>
						</div>
						<div class="col-md-9">#{empresaBean.oferta.habilidadesTecnicasNecessarias }
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<b>Habilidades Desejáveis:</b>
						</div>
						<div class="col-md-9">#{empresaBean.oferta.habilidadesTecnicasDesejadas }
						</div>
					</div>
					<div class="text-left" style="margin-top: 20px;">
						<h:form>
							<h:commandButton actionListener="#{empresaBean.fecharInscricoes}" value="Fechar inscrições" class="btn btn-danger btn-sm" style="margin-right: 5px;" rendered="#{empresaBean.oferta.status.nome eq 'Aprovado'}"/>
							<h:commandButton actionListener="#{empresaBean.solicitarAprovacaoEstagio}" value="Solicitar aprovação de Estágio" class="btn btn-success btn-sm" style="margin-right: 5px;" rendered="#{empresaBean.oferta.status.nome eq 'Finalizado'}"/>
						</h:form>
					</div>
				</div>
				
			</div>
			<div class="row">
		
				<div class="col-md-12">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-education" style="margin-right: 5px;"></i>Alunos
						candidatos
					</h3>
				</div>
		
			</div>
			<div class="row">
				<div class="col-md-12">
					<h:form>
					<ui:fragment rendered="#{empty empresaBean.oferta.ofertaAlunos}">
						<h4 class="text-center">Sem alunos candidatos nesta oferta :(</h4>
					</ui:fragment>
					<h:dataTable value="#{empresaBean.oferta.ofertaAlunos}" var="ofal" rendered="#{not empty empresaBean.oferta.ofertaAlunos}" class="table table-striped table-hover" headerClass="background-color: #34e89e; color: #fff;">
						<h:column>
							<f:facet name="header">Nome</f:facet>
							#{ofal.aluno.nome}
						</h:column>
						<h:column>
							<f:facet name="header">CRE</f:facet>
							#{ofal.aluno.cre}
						</h:column>
						<h:column>
							<f:facet name="header">Período</f:facet>
							#{ofal.aluno.periodo}
						</h:column>
						<h:column>
							<f:facet name="header">Status</f:facet>
							<ui:fragment rendered="#{ofal.status.nome eq 'Pendente de aprovação' }">
								<span class="label label-default">${ofal.status.nome }</span>
							</ui:fragment>
							<ui:fragment rendered="#{ofal.status.nome eq 'Aprovado' }">
								<span class="label label-success">${ofal.status.nome }</span>
							</ui:fragment>
							
						</h:column>
						
						<h:column>
							<f:facet name="header">Ações</f:facet>
							
							<h:commandButton action="#{empresaBean.aprovarAluno(ofal)}" rendered="#{ofal.status.nome ne 'Aprovado'}" class="btn btn-success btn-sm" value="Aprovar" />
							
						</h:column>
						
					</h:dataTable>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>	

</ui:composition>







