<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="templating/template.xhtml">
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">Alunos Participantes da seleção</h3>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<h3>Selecione o(s) aluno(s) aprovado(s)</h3>
					<h:form>
						<h:dataTable value="" var="" class="table table-hover">
							<h:column>
								<f:facet name="header"></f:facet>
								<h:selectBooleanCheckbox value="#{aluno1}" />
							</h:column>
							<h:column>
								<f:facet name="header">Aluno</f:facet>
							</h:column>
							<h:column>
								<f:facet name="header">Oferta</f:facet>
							</h:column>
							
						</h:dataTable>
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th>Aluno</th>
									<th>Oferta</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="checkbox" name="aluno1" value="aluno1"></td>
									<td>Vicente</td>
									<td>Oferta</td>
								</tr>
								<tr class="success">
									<td><input type="checkbox" name="aluno2" value="aluno2"
										checked></td>
									<td>Rafael</td>
									<td>Oferta</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="aluno3" value="aluno3"></td>
									<td>Jão</td>
									<td>Oferta</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="aluno4" value="aluno4"></td>
									<td>Rui</td>
									<td>Oferta</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="aluno5" value="aluno5"></td>
									<td>Thiago</td>
									<td>Oferta</td>
								</tr>
								<tr>
									<td><input type="checkbox" name="aluno6" value="aluno6"></td>
									<td>Nicolas</td>
									<td>Oferta</td>
								</tr>
							</tbody>
		
						</table>
						<hr />
						<input type="submit" class="btn btn-success" value="Salvar">
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	
</ui:composition>

