<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="templating/template.xhtml">
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-education"></i> Aluno: #{aluno.nome }
					</h3>
					<hr />
		
				</div>
			</div>
			<h:link outcome="#{pageContext.request.contextPath}/coordenador.do?op=lstAlSel" class="btn btn-default btn-sm">
				<i class="glyphicon glyphicon-arrow-left"></i> 
				Voltar
			</h:link>
			
			<hr />
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<b>Nome:</b>
						</div>
						<div class="col-md-11">#{aluno.nome }</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<b>CRE:</b>
						</div>
						<div class="col-md-11">#{aluno.cre }</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<b>Habilidades:</b>
						</div>
						<div class="col-md-11">#{aluno.habilidades }</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<b>Período:</b>
						</div>
						<div class="col-md-11">#{aluno.periodo }</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>	

</ui:composition>



