<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<f:metadata>
		<f:viewParam name="id" value="#{coordenadorBean.id}"/>
		<f:event type="preRenderView" listener="#{coordenadorBean.selecionarEmpresa}"/>
	</f:metadata>

	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-cog"></i> Editar Empresa
						#{coordenadorBean.empresa.nome}
					</h3>
					<hr />
				</div>
			</div>
			<div class="row">
				<h:messages errorClass="alert alert-danger"/>
			</div>
			<div class="row">
				<div class="container">
				<h:link outcome="/coordenador/listarEmpresas" class="btn btn-default btn-sm">
					<i class="glyphicon glyphicon-arrow-left"></i> 
					Voltar
				</h:link>
				<hr />
					<h:form class="well" >
						<div class="row">
							<div class=" col-md-6">
								<div class="form-group">
									<h:outputLabel for="nome">Nome da Empresa:</h:outputLabel>
									<h:inputText id="nome" name="nome" class="form-control" value="#{coordenadorBean.empresa.nome}" required="true" requiredMessage="Nome é obrigatório" />
								</div>
								
								<div class="row">
									<div class="col-md-9">
										<div class="form-group">
											<h:outputLabel for="endereco">Endereço:</h:outputLabel>
											<h:inputText id="endereco" name="endereco" class="form-control" value="#{coordenadorBean.empresa.endereco.rua}" required="true" requiredMessage="Endereço é obrigatório" />
										</div>
										
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<h:outputLabel for="numero">Numero:</h:outputLabel>
											<h:inputText id="numero" name="numero" class="form-control" value="#{coordenadorBean.empresa.endereco.numero}" />
										</div>
									</div>
									
				
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<h:outputLabel for="bairro">Bairro:</h:outputLabel>
											<h:inputText id="bairro" name="bairro" class="form-control" value="#{coordenadorBean.empresa.endereco.bairro}" required="true" requiredMessage="Bairro é obrigatório" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel for="cidade">Cidade:</h:outputLabel>
											<h:inputText id="cidade" name="cidade" class="form-control" value="#{coordenadorBean.empresa.endereco.cidade}" required="true" requiredMessage="Cidade é obrigatório" />
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel for="estado">Estado:</h:outputLabel>
											<h:inputText id="estado" name="estado" class="form-control" value="#{coordenadorBean.empresa.endereco.estado}" required="true" requiredMessage="Estado é obrigatório" />
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<h:outputLabel for="telefone">Telefone:</h:outputLabel>
									<h:inputText id="telefone" name="telefone" class="form-control" value="#{coordenadorBean.empresa.telefone}" required="true" requiredMessage="Telefone é obrigatório" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="email">Email:</h:outputLabel>
									<h:inputText id="email" name="email" class="form-control" value="#{coordenadorBean.empresa.email}" required="true" requiredMessage="Email é obrigatório" />
								</div>
								
						      </div>
						      <div class=" col-md-6">
						      
						     	<div class="form-group">
									<h:outputLabel for="urlSite">Url Site:</h:outputLabel>
									<h:inputText id="urlSite" name="urlSite" class="form-control" value="#{coordenadorBean.empresa.urlSite}" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="pessoaContato">Responsável para Contato:</h:outputLabel>
									<h:inputText id="pessoaContato" name="pessoaContato" class="form-control" value="#{coordenadorBean.empresa.pessoaContato}" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="atividadePrincipal">Atividade Principal:</h:outputLabel>
									<h:inputText id="atividadePrincipal" name="atividadePrincipal" class="form-control" value="#{coordenadorBean.empresa.atividadePrincipal}" required="true" requiredMessage="Atividade Principal é obrigatório" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="cnpj">CNPJ:</h:outputLabel>
									<h:inputText id="cnpj" name="cnpj" class="form-control" value="#{coordenadorBean.empresa.cnpj}" required="true" requiredMessage="CNPJ é obrigatório" />
								</div>
								
								
								<div class="form-group">
									<h:outputLabel for="senha">Senha:</h:outputLabel>
									<h:inputSecret id="senha" name="senha" class="form-control" value="#{coordenadorBean.empresa.senha}" required="true" requiredMessage="Senha é obrigatório"/>
								</div>
								
								
								
						      </div>
					      </div>
				      <div class="row text-center">
				      	<h:commandButton action="#{coordenadorBean.salvarEmpresa}" class="btn btn-success btn-sm" value="Salvar" />
				      </div>
		    		</h:form>
					
		
				</div>
			</div>
		</div>
	</ui:define>	

</ui:composition>
