<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	
	<f:metadata>
		<f:event type="preRenderView" listener="#{coordenadorBean.listarAlunosSelecionados}"/>
	</f:metadata>
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-education"></i> Alunos Selecionados
					</h3>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="container">
					<h:dataTable value="#{coordenadorBean.ofertaalunos}" var="oa" 
								class="table table-striped table-hover"
								headerClass="background-color: #34e89e; color: #fff;">
						
						<h:column>
							<f:facet name="header"></f:facet>
							<i class="glyphicon glyphicon-menu-right"></i>
						</h:column>
						<h:column>
							<f:facet name="header">Nome</f:facet>
							#{oa.aluno.nome}
						</h:column>
						<h:column>
							<f:facet name="header">CRE</f:facet>
							#{oa.aluno.cre}
						</h:column>
						<h:column>
							<f:facet name="header">Período</f:facet>
							#{oa.aluno.periodo}
						</h:column>
						<h:column>
							<f:facet name="header">Curso</f:facet>
							#{oa.aluno.curso.nome}
						</h:column>
						<h:column>
							<f:facet name="header">Empresa (Atv.)</f:facet>
							#{oa.oferta.empresa.nome} (#{oa.oferta.atividadePrincipal})
						</h:column>
						
					</h:dataTable>
					
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>








