
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<f:metadata>
		<f:event type="preRenderView" listener="#{coordenadorBean.listarEstagiosPendentes}"/>
	</f:metadata>
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-warning-sign"></i> Estágios Pendentes
					</h3>
					<hr />
				</div>
			</div>
			<div class="row">
				<h:messages errorClass="alert alert-danger" infoClass="alert alert-success" />
			</div>
			<div class="row">
				<div class="container">
						<ui:fragment rendered="#{empty coordenadorBean.estagios}">
							<h3 class="text-center">Sem estágios pendentes</h3>
						</ui:fragment>
						<h:form>
							<h:dataTable value="#{coordenadorBean.estagios}" var="e" rendered="#{not empty coordenadorBean.estagios}" 
										class="table table-striped table-hover"
										headerClass="background-color: #34e89e; color: #fff;">
							
								<h:column>
									<f:facet name="header"></f:facet>
									<i class="glyphicon glyphicon-menu-right"></i>
								</h:column>
								<h:column>
									<f:facet name="header">Estagiário</f:facet>
									#{e.aluno.nome}
								</h:column>
								<h:column>
									<f:facet name="header">Empresa</f:facet>
									#{e.empresa.nome}
								</h:column>
								<h:column>
									<f:facet name="header">Atividade Principal</f:facet>
									#{e.atividadePrincipal}
								</h:column>
								
								<h:column>
									<f:facet name="header">Valor Bolsa</f:facet>
									<h:outputText value="#{e.valorBolsa}"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
									
								</h:column>
								
								<h:column>
									<f:facet name="header">Valor Transporte</f:facet>
									<h:outputText value="#{e.valorTransporte}"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>
									
								</h:column>
								
								<h:column>
									<f:facet name="header">Valor Alimentação</f:facet>
									<h:outputText value="#{e.valorAlimentacao}"> <f:convertNumber currencySymbol="R$" type="currency"/> </h:outputText>

								</h:column>
								
								<h:column>
									<f:facet name="header">Ações</f:facet>
									<h:commandButton actionListener="#{coordenadorBean.aprovarEstagio(e)}" class="btn btn-success btn-sm" value="Aprovar" />
									<h:commandButton actionListener="#{coordenadorBean.negarEstagio(e)}" class="btn btn-danger btn-sm" value="Negar" />
								</h:column>
							
							</h:dataTable>
						</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>






