<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<f:metadata>
		<f:event type="preRenderView" listener="#{coordenadorBean.listarEmpresas}"/>
	</f:metadata>

	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="text-center">
						<i class="glyphicon glyphicon-tower"></i> Empresas
					</h3>
					<hr />
				</div>
			</div>
			<div class="row">
				<h:messages errorClass="alert alert-danger" infoClass="alert alert-success" />
			</div>
			<div class="row">
				<div class="container">
					<h:form>
					<h:dataTable value="#{coordenadorBean.empresas}" var="e"
								class="table table-striped table-hover"
								headerClass="background-color: #34e89e; color: #fff;">
						<h:column>
							<f:facet name="header"></f:facet>
							
							<h:link outcome="/coordenador/empresa?id=#{e.id}" styleClass="btn btn-default">
								
								<i class="glyphicon glyphicon-plus"></i>
								
							</h:link>
						</h:column>
						<h:column>
							<f:facet name="header">Nome</f:facet>
							#{e.nome}
						</h:column>
						<h:column>
							<f:facet name="header">Endereço</f:facet>
							#{e.endereco.rua }
						</h:column>
						<h:column>
							<f:facet name="header">CNPJ</f:facet>
							#{e.cnpj }
						</h:column>
						<h:column>
							<f:facet name="header">Atividade Principal</f:facet>
							#{e.atividadePrincipal }
						</h:column>
						<h:column>
							<f:facet name="header">Ações</f:facet>
							<ui:fragment rendered="#{e.ativa eq true}">
								<h:commandLink actionListener="#{coordenadorBean.bloquearEmpresa(e)}" class="btn btn-danger">
									Bloquear
								</h:commandLink>
							</ui:fragment>
							<ui:fragment rendered="#{e.ativa eq false}">
								<h:commandLink actionListener="#{coordenadorBean.desbloquearEmpresa(e)}" class="btn btn-success">
									Desbloquear
								</h:commandLink>
							</ui:fragment>
						</h:column>
					</h:dataTable>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	
</ui:composition>






