<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="templating/template.xhtml">
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row text-center" style="margin-bottom: 30px;">
				<h1>
					<i class="glyphicon glyphicon-send"></i> Cadastrar
				</h1>
				<hr />
				<h4>Quem é você?</h4>
				<hr />
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h:link outcome="/cadastrar/aluno" 
							class="btn btn-primary btn-lg btn-block"
							role="button"
							style="padding: 20px;">Sou um(a) aluno(a)</h:link>
					
					<h:link outcome="/cadastrar/coordenador" 
							class="btn btn-warning btn-lg btn-block"
							role="button"
							style="padding: 20px;">Sou um(a) coordenador(a)</h:link>
					
					<h:link outcome="/cadastrar/empresa" 
							class="btn btn-success btn-lg btn-block"
							role="button"
							style="padding: 20px;">Represento uma empresa</h:link>
		
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>
