<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="templating/template.xhtml">
	
	<ui:define name="tbody">
		<div class="container">
		  <div class="col-md-4 col-md-offset-4  text-center" style="margin-top:80px;">
		    <h1 class="display-3">Olá #{loginBean.pessoa.nome}!</h1>
		    <br/>
		    <img src="resources/imgs/logo3.png"/>
		    <br/>
		    <h3 class="text-center">Sistema de estágio</h3>
		  </div>
		</div>
	</ui:define>

</ui:composition>
