<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="templating/tlogin.xhtml">
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row text-center" style="margin-bottom: 30px;">
				<h:graphicImage library="imgs" name="logo1.png" alt="logo" />
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 bg-home-well">
	
					<h:form>
						<div class="form-group">
							<h:outputLabel for="login">Login: </h:outputLabel>
							<h:inputText id="login" name="login" class="form-control login" value="#{loginBean.login}" />
						</div>
						<div class="form-group">
							<h:outputLabel for="senha">Senha: </h:outputLabel>
							<h:inputSecret id="senha" name="senha" class="form-control senha" value="#{loginBean.senha}"/>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h:link outcome="cadastrar" class="btn btn-default">Cadastre-se</h:link>
							</div>
							<div class="col-md-6 text-right">
								<h:commandButton action="#{loginBean.autenticar}" class="btn btn-success" value="Entrar" />
								
							</div>
						</div>
					</h:form>
	
				</div>
				<div class="col-md-4 col-md-offset-4">
					<br />
					<h:messages errorClass="alert alert-danger" infoClass="alert alert-success"/>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-4 text-center">
	
				<h4>Auto-preencher login:</h4>
				<button class="preencherlogin btn btn-primary"
					login="valeria@ifpb.edu.br" senha="senhaadm">Coordenador</button>
				<button class="preencherlogin btn btn-primary"
					login="soft@ifpb.edu.br" senha="senhasoftcom">Empresa</button>
				<button class="preencherlogin btn btn-primary" login="joao@ifpb"
					senha="joaoaluno">Aluno</button>
	
			</div>
		</div>
	
		
		
	</ui:define>
	
	<ui:define name="tscripts">
		<script>
			$(".preencherlogin").click(function() {
				var login = $(this).attr("login");
				var senha = $(this).attr("senha");
				$(".login").val(login);
				$(".senha").val(senha);
			});
		</script>
	</ui:define>

</ui:composition>
