<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templating/template.xhtml">
	
	<ui:define name="tbody">
	    <div class="container main">
	    
	    	<div class="row">
		    	<div class="col-md-12 text-center">
		    		<h1 class="text-center">Cadastrar Aluno</h1>
	    		</div>
	    	</div>
	    	
	    	<hr></hr>
		    	<h:form id="voltar">
		    		<h:commandLink styleClass="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</h:commandLink>
		    	</h:form>
	    	<hr></hr>
	    	
		    <div class="row">
		    	<div class="container">
		    		<div class="row">
		    			<h:messages errorClass="alert alert-danger" />
		    		</div>
		    		<h:form styleClass="well" id="cadaluno">
		    			<div class="row">
		    				<div class=" col-md-6">
		    					<div class="form-group">
		    						<label class="" for="nome">Nome:</label>
		    						<h:inputText styleClass="form-control" name="nome" id="nome" value="#{alunoBean.aluno.nome}" required="true" requiredMessage="Nome é obrigatório"></h:inputText>
		    					</div>
		    					<div class="form-group">
		    						<label class="" for="telefone">Telefone:</label>
		    						<h:inputText styleClass="form-control" name="telefone" id="telefone" value="#{alunoBean.aluno.telefone}"></h:inputText>
		    					</div>
		    					<div class="form-group">
		    						<label class="" for="cre">CRE:</label>
		    						<h:inputText styleClass="form-control" name="cre" id="cre" value="#{alunoBean.aluno.cre}" required="true" requiredMessage="CRE é obrigatório"></h:inputText>
		    					</div>
		    					<div class="form-group">
		    						<label class="" for="habilidades">Habilidades:</label>
		    						<h:inputText styleClass="form-control" name="habilidades" id="habilidades" value="#{alunoBean.aluno.habilidades}" required="true" requiredMessage="O campo Habilidades é obrigatório"></h:inputText>
		    					</div>
		    				</div>
		    				
		    				<div class=" col-md-6">
		    					<div class="form-group">
		    						<label class="" for="periodo">Período:</label>
		    						<h:inputText styleClass="form-control" name="periodo" id="periodo" value="#{alunoBean.aluno.periodo}" required="true" requiredMessage="Periodo é obrigatório"></h:inputText>
		    					</div>
		    					<div class="form-group">
		    						<label class="" for="curso">Curso:</label>
		    						<h:selectOneMenu  value="#{alunoBean.aluno.curso}" class="form-control" name="curso" id="curso" required="true" requiredMessage="Selecionar o curso é obrigatório" >
										<f:converter converterId="CursoConverter" />
										<f:selectItem noSelectionOption="true" itemLabel="--- Selecione o Curso ---"/>  
                						<f:selectItems value="#{cursoBean.cursos}" var="c" itemLabel="#{c.nome}" itemValue="#{c}"/>
									</h:selectOneMenu>
		    					</div>
		    					<div class="form-group">
		    						<label class="" for="email">Email:</label>
		    						<h:inputText styleClass="form-control" name="email" id="email" value="#{alunoBean.aluno.email}" required="true" requiredMessage="Email é obrigatório"></h:inputText>
		    					</div>
		    					<div class="form-group">
		    						<label class="" for="senha">Senha:</label>
		    						<h:inputSecret  styleClass="form-control" id="senha" name="senha" value="#{alunoBean.aluno.senha}" required="true" requiredMessage="Senha é obrigatório" />
		    					</div>
		    				</div>
		    			</div>
		    			<div class="row text-center">
		    			<h:commandButton action="#{alunoBean.cadastrarAluno}" styleClass="btn btn-success" value="Cadastrar Aluno"/>
							
						</div>
		    		</h:form>
		    	</div>
		    </div>
	    </div>
	    
	    
	</ui:define>
	
</ui:composition>
</html>
