<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/templating/template.xhtml">
	
	<ui:define name="tbody">
		<div class="container main">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="text-center">Cadastrar Coordenador</h1>
				</div>
			</div>
			<hr />
			<h:link outcome="${pageContext.request.contextPath}/cadastrar.jsp" class="btn btn-default btn-sm">
				<i class="glyphicon glyphicon-arrow-left"></i> 
				Voltar
			</h:link>
			
			<hr />
		
		
			<div class="row">
				<div class="container">
					<div class="row">
		    			<h:messages errorClass="alert alert-danger" />
		    		</div>
					<h:form class="well">
						<div class="row">
							<div class=" col-md-6">
								<div class="form-group">
									<h:outputLabel for="nome">Nome:</h:outputLabel>
									<h:inputText id="nome" name="nome" class="form-control" value="#{coordenadorBean.coordenador.nome}" required="true" requiredMessage="Nome é obrigatório" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="telefone">Telefone:</h:outputLabel>
									<h:inputText id="telefone" name="telefone" class="form-control" value="#{coordenadorBean.coordenador.telefone}" />
								</div>
								
								<div class="form-group">
									<h:outputLabel for="curso">Curso:</h:outputLabel>
									<h:selectOneMenu  value="#{coordenadorBean.coordenador.curso}" class="form-control" name="curso" id="curso" required="true" requiredMessage="Selecionar o curso é obrigatório" >
										<f:converter converterId="CursoConverter" />
										<f:selectItem noSelectionOption="true" itemLabel="--- Selecione o Curso ---"/>  
                						<f:selectItems value="#{cursoBean.cursos}" var="c" itemLabel="#{c.nome}" itemValue="#{c}"/>
									</h:selectOneMenu>
								</div>
								
							</div>
							<div class=" col-md-6">
							
								<div class="form-group">
									<h:outputLabel for="email">Email:</h:outputLabel>
									<h:inputText id="email" name="email" class="form-control" value="#{coordenadorBean.coordenador.email}" required="true" requiredMessage="Email é obrigatório"/>
								</div>
								
								<div class="form-group">
									<h:outputLabel for="senha">Senha:</h:outputLabel>
									<h:inputSecret id="senha" name="senha" class="form-control" value="#{coordenadorBean.coordenador.senha}" required="true" requiredMessage="Senha é obrigatório"/>
								</div>
		
							</div>
						</div>
		
						<div class="row text-center">
							<h:commandButton action="#{coordenadorBean.cadastrarCoordenador}" class="btn btn-success" value="Cadastrar Coordenador"/>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>





